<style type="text/css">
	#terms{
		margin: 10px;
		text-align: justify;
		text-justify: inter-word;
	}
	.terms-buttons{
		text-align: center;
	}
	div.terms-buttons > div {
		margin: 5px;
		color: white !important;
	}
	.bt-accept{
		background-color: #550A23;
	}
	.bt-exit{
		background-color: #414141;
	}
</style>
<ion-view view-title="Terms">
	<ion-content>
		<h1 class="page-title left">Termos e Condições de Uso</h1>
		<div id="terms">
			<p>Bem vindo ao Trilhas Poéticas, um aplicativo mobile que torna possível o compartilhamento de suas experiências na cidade e propõe desafios com recompensas. Das mais simples, até as mais desafiantes, queremos tornar possíveis as poéticas locais, e ajuda-los a descobrir uma nova cidade.</p>

			<p>Este acordo representa o contrato, como um todo, entre você e o Trilhas Poéticas, e dessa forma, fazendo o download do nosso aplicativo, você concorda, sem restrições, em aceitar os termos e condições de uso abaixo indicados, uma vez que as disposições constantes do presente Termo de Uso vinculam o usuário do aplicativo móvel Trilhas Poéticas, externam nossa política de privacidade na divulgação de seu conteúdo e protege o software e a marca, de acordo com as disposições das Leis Federais n. 9.609/98 e 9.279/96.</p>
			<h2 class="track-title">Aceite dos Termos</h2>
			<p>Ao usar informações, ferramentas, recursos e funcionalidades do Trilhas Poéticas, você concorda com este acordo. O termo “Você” ou “Usuário” refere-se ao visitante ou membro. O termo “Nós” refere-se ao Trilhas Poéticas. Caso deseje se tornar membro, comunicar-se com outros membros e usar este serviço, deve ler este acordo e indicar que o aceita durante o processo de registro.</p>
			<p>Caso não concorde com Todos os termos, não use este aplicativo.</p>
			<p>Por favor, revise todos os Termos com cuidado antes de utilizar nosso aplicativo.</p>
			<p>Ao utilizar nosso aplicativo, você concorda em seguir todos os termos e afirma que tem mais de 14 (quatorze) anos.</p>

			<h2 class="track-title">A Modificação dos termos</h2>
			<p>Os proprietários e/ou mantenedores do aplicativo reservam o direito de modificar este termo de uso e qualquer política que afete ou pertença ao aplicativo Trilhas Poéticas a qualquer tempo e independentemente de prévio aviso aos usuários.  O uso continuado do aplicativo após a mudança no Termo de uso será considerado como uma aceitação do contrato. Se você não concordar ou não estiver satisfeito com as mudanças no Termo de uso, você deverá desinstalar o aplicativo. Dessa forma, o usuário concorda que periodicamente deve checar as eventuais modificações do Termo de Uso, disponibilizado na página web ou no próprio aplicativo.</p>

			<h2 class="track-title">A política de uso</h2>
			<p>Não utilize indevidamente os nossos serviços, de modo que é apenas permitido ao usuário do aplicativo valer-se do que lhe é disponibilizado e dentro das condutas que não são vedadas pela Lei brasileira. Haverá a possibilidade de suspensão ou cancelamento da prestação do serviço ao usuário que descumprir nossos termos ou políticas ou se estivermos investigando casos de suspeita de má conduta. Nesses casos, todas as condições adicionais do serviço, tal como a entrega dos prêmios oferecidos ficará prejudicada.</p>

			<p>A comercialização do serviço caberá apenas ao seu desenvolvedor ou distribuidor autorizado. Ao efetuar o download do aplicativo e concordar com o presente Termo de Uso, o usuário receberá uma licença do proprietário para uso não comercial do serviço, o que em nenhuma hipótese o tornará proprietário do mesmo. Não há limitação de acesso ao software.</p>

			<p>Nossos serviços exibem alguns conteúdos que não são da aplicativo Trilhas Poéticas. Esses conteúdos são de exclusiva responsabilidade da entidade que os disponibiliza. Podemos revisar qualquer conteúdo para determinar se é ilegal ou se infringe nossas políticas, e podemos remover ou nos recusar a exibir conteúdos que razoavelmente acreditamos violar nossas políticas ou a Lei. Mas isso não significa, necessariamente, que revisaremos conteúdos de terceiros.</p>

			<p>Você é responsável por qualquer atividade que ocorra em sua conta e você concorda que você não vai alienar, transferir, licenciar ou ceder a sua conta, nome e dados de usuário, ou quaisquer direitos a outrem, com a exceção de pessoas ou empresas que estão expressamente autorizadas a criar contas em nome de seus empregadores ou clientes. Você também declara que todas as informações que fornecer ao aplicativo Trilhas Poéticas serão verdadeiras, exatas, atuais e completas, sendo obrigação do usuário as atualizar para manter a veracidade e exatidão das informações.</p>

			<h2 class="track-title">O envio de conteúdo pelos usuários</h2>
			<p>O aplicativo permite que os usuários publiquem conteúdo, por meio de upload de imagens, vídeos ou frases à rede interligada. Toda e qualquer exibição deverá observar a Lei de Propriedade Industrial vigente em nosso país, sendo expressamente vedada a infringência a direitos autorais. A propriedade da criação legítima de conteúdos será de seu autor. Dessa forma, quando você faz upload ou de algum modo envia conteúdo a nossos Serviços, você concede ao Trilhas Poéticas (e àqueles com quem trabalhamos) uma licença mundial gratuita para usar, hospedar, armazenar, reproduzir, modificar, criar obras derivadas (como aquelas resultantes de traduções, adaptações ou outras alterações que fazemos para que seu conteúdo funcione melhor com nossos Serviços), comunicar, publicar, executar e exibir publicamente e distribuir tal conteúdo. Essa licença perdura mesmo que você deixe de usar nossos Serviços.</p>
			<p>O usuário também não poderá enviar conteúdo ou direcionar outros usuários por meio de links a endereços que possuam material que possa ser considerado calunioso, difamatório, obsceno, pornográfico, abusivo, injurioso, vexatório, ou ameaçador, que contenha vírus ou outros componentes que possam revelar-se prejudiciais, que viole direitos de terceiros, como direitos de autor, marcas, patentes, segredos industriais ou comerciais, ou direitos pessoais, ou que viole qualquer lei nacional ou internacional aplicável.</p>
			<p>Em caso de infringência a direitos de terceiros em decorrência da utilização indevida de nossos Serviços, o usuário concorda em pagar por todos os royalties, taxas, indenização ou qualquer outro encargo em razão da ocorrência, inexistindo responsabilidade por parte da Trilhas Poéticas nesse particular.</p>
			<p>Da mesma forma você concorda que não irá usar robôs, sistemas de varredura e armazenamento de dados (como “spiders” ou “scrapers”), links escondidos ou qualquer outro recurso, ferramenta, programa, algoritmo ou método coletor/extrator de dados automático para acessar, adquirir, copiar ou monitorar o Trilhas Poéticas, sem permissão expressa por escrito de seus proprietários.</p>

			<h2 class="track-title">A modificação do serviço prestado</h2>
			<p>Preocupamo-nos com a constante melhoria na prestação dos nossos serviços. Por isso, nossos desenvolvedores trabalham para oferecer ao usuário um sistema mais seguro, interativo e atrativo ao usuário. Como consequência isso poderá resultar na inclusão ou remoção de funcionalidades no aplicativo ou a criação de novos limites aos serviços, o que poderá modificar a forma de interação do usuário. A esse respeito, em que pese não haver obrigação dos desenvolvedores de avisar previamente os usuários, poderá haver o envio de mensagens publicitárias ou anúncios nesse sentido.</p>
			<p>Por tais razões, ocorrerão situações em que o Serviço poderá ser interrompido, incluindo, sem limitação, para manutenção ou atualizações programadas, para reparos de emergência, ou devido a falhas de ligações de telecomunicações e/ou equipamentos. O Trilhas Poéticas reserva ainda o direito de remover qualquer Conteúdo do Serviço, por qualquer motivo, sem aviso prévio.</p>
			<p>O Trilhas Poéticas não é um serviço de backup e você concorda que não vai contar com o Serviço para fins de backup ou armazenamento de conteúdo. Da mesma forma, você também reconhece que pode estar sujeito a falhas de segurança e que a apresentação de conteúdos ou outras informações podem não ser seguras, em razão do acesso público de milhões de usuários.</p>

			<h2 class="track-title">Garantias e responsabilidades</h2>
			<p>Este aplicativo é fornecido pelos detentores de seus direitos autorais e colaboradores "no estado em que se encontra", e eles não fornecem qualquer garantia expressa ou implícita, inclusive, entre outras, garantias implícitas de comercialidade e adequação a fins específicos. Sob nenhuma circunstância os detentores dos direitos autorais ou seus colaboradores se responsabilizam por danos diretos, indiretos, emergentes, especiais, imprevistos ou multas causados, em qualquer matéria de responsabilidade, seja contratual, objetiva ou civil (inclusive negligência ou outras), que venham a decorrer de qualquer forma do uso deste aplicativo, mesmo que advertida a possibilidade de tais danos.</p>
			<p>Considerando que uma das finalidades do Trilhas Poéticas é a propositura de desafios mediante recompensa, bem como a sugestão de tarefas a serem cumpridas voluntariamente pelos usuários, você, desde já, declara expressamente que assume a total, ampla e irrestrita responsabilidade pelo cumprimento dos desafios e tarefas sugeridas pelo Trilhas Poéticas, isentando o aplicativo, seus idealizadores, desenvolvedores e colaboradores de qualquer responsabilidade ou quaisquer danos causados ou sofridos em decorrência do seu cumprimento e/ou tentativa de cumprimento. Você ainda declara que não se sente induzido, coagido ou obrigado a cumprir qualquer dos desafios sugeridos, sendo mera opção e exercício do livre arbítrio a decisão de cumprir os desafios de natureza meramente sugestiva propostos pelo aplicativo.</p>
			<p>Na hipótese do Trilhas Poéticas vier a ser responsabilizado por terceiro que sofrer qualquer espécie de dano em decorrência da tentativa ou cumprimento de desafio, você se compromete a ressarcir o Trilhas Poéticas por todas as despesas que este incorrer.</p>

			<h2 class="track-title">Suportes técnicos</h2>
			<p>Os suportes técnicos do aplicativo ocorrerão na medida em que eventuais falhas no serviço forem detectadas pelos programadores do aplicativo. Haverá o incentivo à utilização e detecção de problemas por parte dos usuários, por meio de disponibilização de espaços específicos para sugestões, críticas e elogios. A validade técnica para cada versão disponibilizada é por prazo indeterminado. Dentro desse período, o usuário poderá informar problemas que estejam ocorrendo no aplicativo ou em seu uso, e assim ser atendido pelo suporte técnico que analisará o pedido e responderá conforme a situação.</p>

			<h2 class="track-title">Proteção à marca</h2>
			<p>O nome Trilhas Poéticas e logotipo são marcas registradas, e não podem ser copiadas, imitadas ou utilizadas, no todo ou em parte, sem a permissão prévia por escrito do Trilhas Poéticas, exceto quando de acordo com eventual estipulação contratual permissiva. Além disso, todos os cabeçalhos, gráficos personalizados, ícones e scripts são marcas comerciais do Trilhas Poéticas, e não podem ser copiadas, imitadas ou utilizadas, no todo ou em parte, sem permissão prévia por escrito do Trilhas Poéticas.</p>
			
			<h2 class="track-title">Foro para dirimir controvérsias</h2>
			Se você ainda possui alguma dúvida sobre a forma de utilização de nosso produto ou sobre o nosso termo de uso ou nossa política de privacidade e seus direitos e deveres perante o Trilhas Poéticas, gentileza enviar um e-mail para trilhaspoeticas@coletivopalavra.com.br Ficaremos felizes com o seu contato.

		</div>
		<div class="terms-buttons">
			<div class="bt-accept button" ng-click="setAcceptedTerms()">Aceito os termos</div>
			<div class="bt-exit button" ng-click="exitApp()">sair</div>
		</div>
	</ion-content>
</ion-view>